<h1>Ini adalah /Home</h1>
<h4>Daftar Siswa</h4>
  <% if(dataSiswa.length >= 1){ %>
    <% dataSiswa.forEach(siswa => { %>
      <ul>
          <li>Nama:<%= siswa.nama %></li>
          <li>Kelas: <%= siswa.kelas %> </li>
          <li>No.Absen <%= siswa.noAbsen %> </li>
      </ul>
    <% }) %>
  <% } else {%>
    <h4>Data kosong</h4>
  <% } %>
<%- include('layouts/footer') %>